<div class="container">
  <h1>Cocktails</h1>

  <br>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?cocktail)"><%= link_to cocktail.name, cocktail_path(cocktail.id), :style => "color: white; font-weight: lighter" %>
      </div>
    <% end %>
  </div>

  <br>

  <button class="btn btn-primary"><%= link_to "Add a new cocktail", new_cocktail_path, :style => "color: white" %></button>
</div>
