// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 56px;
}
